/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-color: #e6f2ff;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.custom-check-container {
  display: block;
  position: relative;
  padding: 2px 35px 0;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover input ~ .check-tick {
    border-color: #69f;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .check-tick {
      background-color: #04c;

      &:after {
        display: block;
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid #cdf;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

  .check-tick {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #fff;
    border: 1px solid #039;
    border-radius: 5px;

    &:after {
      content: "";
      position: absolute;
      display: none;
    } 
  }
}